@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBT_2.eot");
  src: url("../fonts/CooperLightCBT_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBT_2.woff2") format("woff2"), url("../fonts/CooperLightCBT_2.woff") format("woff"), url("../fonts/CooperLightCBT_2.ttf") format("truetype"), url("../fonts/CooperLightCBT_2.svg#CooperLightCBT_2") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBTItalic_2.eot");
  src: url("../fonts/CooperLightCBTItalic_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBTItalic_2.woff2") format("woff2"), url("../fonts/CooperLightCBTItalic_2.woff") format("woff"), url("../fonts/CooperLightCBTItalic_2.ttf") format("truetype"), url("../fonts/CooperLightCBTItalic_2.svg#CooperLightCBTItalic_2") format("svg");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBTBold_2.eot");
  src: url("../fonts/CooperLightCBTBold_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBTBold_2.woff2") format("woff2"), url("../fonts/CooperLightCBTBold_2.woff") format("woff"), url("../fonts/CooperLightCBTBold_2.ttf") format("truetype"), url("../fonts/CooperLightCBTBold_2.svg#CooperLightCBTBold_2") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBTBoldItalic_2.eot");
  src: url("../fonts/CooperLightCBTBoldItalic_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBTBoldItalic_2.woff2") format("woff2"), url("../fonts/CooperLightCBTBoldItalic_2.woff") format("woff"), url("../fonts/CooperLightCBTBoldItalic_2.ttf") format("truetype"), url("../fonts/CooperLightCBTBoldItalic_2.svg#CooperLightCBTBoldItalic_2") format("svg");
  font-weight: bold;
  font-style: italic; }
a:hover {
  color: inherit;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  color: #fff;
  font-family: 'Cooper'; }

.table-box {
  display: table;
  width: 100%;
  height: 100%; }

.cell-box {
  display: table-cell;
  vertical-align: middle; }

.phone {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 21px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  z-index: 10; }

.link {
  display: inline-block;
  color: #fff;
  font-size: 21px;
  background: #2d7942;
  padding: 16px 40px;
  border-radius: 50px;
  margin: 30px;
  font-style: italic;
  font-weight: bold; }

body {
  background: #2c8b45;
  transition: background 0.7s ease; }

body.fp-viewing-5 {
  background: #d4643c; }

body.fp-viewing-6 {
  background: #9c5db7; }

body.fp-viewing-7 {
  background: #d15e3c; }

body.fp-viewing-8 {
  background: #6f5d92; }

body.fp-viewing-9 {
  background: #44887c; }

body.fp-viewing-10 {
  background: #d59841; }

body.fp-viewing-11 {
  background: #5b6690; }

body.fp-viewing-12 {
  background: #d4643c; }

.start-screen {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.7s ease;
  z-index: 2;
  transform: translateY(-100vh); }
  .fp-viewing-0 .start-screen, .fp-viewing-1 .start-screen, .fp-viewing-2 .start-screen, .fp-viewing-3 .start-screen, .fp-viewing-4 .start-screen {
    transform: translateY(0); }
  .start-screen .intro-text {
    height: 150px;
    position: relative; }
  .start-screen .food {
    position: relative;
    display: inline-block; }
  .start-screen .food-arrow {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/food-arrow.svg) center no-repeat;
    position: absolute;
    transition: opacity 0.7s ease;
    opacity: 0; }
    .start-screen .food-arrow.food-arrow-1 {
      top: 165px;
      left: 20px; }
      .fp-viewing-1 .start-screen .food-arrow.food-arrow-1 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-2 {
      top: 70px;
      left: 260px;
      transform: rotate(58deg); }
      .fp-viewing-2 .start-screen .food-arrow.food-arrow-2 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-3 {
      top: 90px;
      left: 400px; }
      .fp-viewing-3 .start-screen .food-arrow.food-arrow-3 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-4 {
      top: 420px;
      right: 140px;
      transform: rotate(138deg); }
      .fp-viewing-3 .start-screen .food-arrow.food-arrow-4 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-5 {
      top: 400px;
      left: 100px;
      transform: rotate(-112deg); }
      .fp-viewing-4 .start-screen .food-arrow.food-arrow-5 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-6 {
      top: 150px;
      left: 260px;
      transform: rotate(9deg); }
      .fp-viewing-4 .start-screen .food-arrow.food-arrow-6 {
        opacity: 1; }
  .start-screen .food-text {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    margin-top: -75px; }
    .start-screen .food-text.food-text-1 h1 {
      font-style: italic;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 44px; }
    .start-screen .food-text.food-text-1 p {
      font-size: 24px;
      font-style: italic; }
    .start-screen .food-text .time {
      font-size: 28px;
      margin-top: 15px;
      font-style: italic;
      letter-spacing: 1px; }
    .start-screen .food-text .description {
      font-size: 28px;
      color: #ffcc01;
      font-style: italic;
      font-weight: bold;
      letter-spacing: 2px; }
    .start-screen .food-text .about {
      font-size: 18px;
      font-style: italic;
      letter-spacing: 1px; }
    .start-screen .food-text.food-text-1 {
      display: block; }

/*# sourceMappingURL=main.css.map */
