@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBT_2.eot");
  src: url("../fonts/CooperLightCBT_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBT_2.woff2") format("woff2"), url("../fonts/CooperLightCBT_2.woff") format("woff"), url("../fonts/CooperLightCBT_2.ttf") format("truetype"), url("../fonts/CooperLightCBT_2.svg#CooperLightCBT_2") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBTItalic_2.eot");
  src: url("../fonts/CooperLightCBTItalic_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBTItalic_2.woff2") format("woff2"), url("../fonts/CooperLightCBTItalic_2.woff") format("woff"), url("../fonts/CooperLightCBTItalic_2.ttf") format("truetype"), url("../fonts/CooperLightCBTItalic_2.svg#CooperLightCBTItalic_2") format("svg");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBTBold_2.eot");
  src: url("../fonts/CooperLightCBTBold_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBTBold_2.woff2") format("woff2"), url("../fonts/CooperLightCBTBold_2.woff") format("woff"), url("../fonts/CooperLightCBTBold_2.ttf") format("truetype"), url("../fonts/CooperLightCBTBold_2.svg#CooperLightCBTBold_2") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Cooper';
  src: url("../fonts/CooperLightCBTBoldItalic_2.eot");
  src: url("../fonts/CooperLightCBTBoldItalic_2.eot") format("embedded-opentype"), url("../fonts/CooperLightCBTBoldItalic_2.woff2") format("woff2"), url("../fonts/CooperLightCBTBoldItalic_2.woff") format("woff"), url("../fonts/CooperLightCBTBoldItalic_2.ttf") format("truetype"), url("../fonts/CooperLightCBTBoldItalic_2.svg#CooperLightCBTBoldItalic_2") format("svg");
  font-weight: bold;
  font-style: italic; }
a:hover, a:active {
  color: inherit;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  color: #fff;
  font-family: 'Cooper'; }

.container {
  width: 1220px;
  margin: 0 auto; }

.table-box {
  display: table;
  width: 100%;
  height: 100%; }

.cell-box {
  display: table-cell;
  vertical-align: middle; }

h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 38px;
  margin-bottom: 30px;
  text-align: center; }

.phone {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 21px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  z-index: 10; }

.link {
  display: inline-block;
  color: #fff;
  font-size: 21px;
  background: #2d7942;
  padding: 16px 40px;
  border-radius: 50px;
  margin: 40px;
  font-style: italic;
  font-weight: bold;
  border: 0; }

body {
  background: #2f8f48;
  transition: background 0.7s ease; }

body.fp-viewing-5 {
  background: #d4643c; }

body.fp-viewing-6 {
  background: #9c5db7; }

body.fp-viewing-7 {
  background: #d15e3c; }

body.fp-viewing-8 {
  background: #6f5d92; }

body.fp-viewing-9 {
  background: #44887c; }

body.fp-viewing-10 {
  background: #d59841; }

body.fp-viewing-11 {
  background: #5b6690; }

body.fp-viewing-12 {
  background: #d4643c; }

.start-screen {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.7s ease;
  z-index: 2;
  overflow: hidden;
  transform: translateY(-100vh); }
  .fp-viewing-0 .start-screen, .fp-viewing-1 .start-screen, .fp-viewing-2 .start-screen, .fp-viewing-3 .start-screen, .fp-viewing-4 .start-screen {
    transform: translateY(0); }
  .fp-viewing-0 .start-screen {
    transition: none; }
  .start-screen .intro-text {
    height: 130px;
    position: relative; }
  .start-screen .food {
    position: relative;
    display: inline-block; }
  .start-screen .food-arrow {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/food-arrow.svg) center no-repeat;
    position: absolute;
    transition: opacity 0.7s ease;
    opacity: 0; }
    .start-screen .food-arrow.food-arrow-1 {
      top: 105px;
      left: 20px;
      animation: arrow-1 0.35s ease 0s infinite alternate; }
      .fp-viewing-1 .start-screen .food-arrow.food-arrow-1 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-2 {
      top: 50px;
      left: 190px;
      transform: rotate(58deg);
      animation: arrow-2 0.35s ease 0s infinite alternate; }
      .fp-viewing-2 .start-screen .food-arrow.food-arrow-2 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-3 {
      top: 45px;
      left: 290px;
      animation: arrow-1 0.35s ease 0s infinite alternate; }
      .fp-viewing-3 .start-screen .food-arrow.food-arrow-3 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-4 {
      top: 300px;
      right: 100px;
      transform: rotate(138deg);
      animation: arrow-4 0.35s ease 0s infinite alternate; }
      .fp-viewing-3 .start-screen .food-arrow.food-arrow-4 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-5 {
      top: 290px;
      left: 60px;
      transform: rotate(-117deg);
      animation: arrow-5 0.35s ease 0s infinite alternate; }
      .fp-viewing-4 .start-screen .food-arrow.food-arrow-5 {
        opacity: 1; }
    .start-screen .food-arrow.food-arrow-6 {
      top: 100px;
      left: 190px;
      transform: rotate(9deg);
      animation: arrow-6 0.35s ease 0s infinite alternate; }
      .fp-viewing-4 .start-screen .food-arrow.food-arrow-6 {
        opacity: 1; }
  .start-screen .food-text {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    margin-top: -50px; }
    .start-screen .food-text.food-text-1 h1 {
      font-style: italic;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 38px; }
    .start-screen .food-text.food-text-1 p {
      font-size: 20px;
      font-style: italic; }
    .start-screen .food-text .time {
      font-size: 28px;
      margin-top: 15px;
      font-style: italic;
      letter-spacing: 1px; }
    .start-screen .food-text .description {
      font-size: 28px;
      color: #ffcc01;
      font-style: italic;
      font-weight: bold;
      letter-spacing: 2px; }
    .start-screen .food-text .about {
      font-size: 18px;
      font-style: italic;
      letter-spacing: 1px; }
    .start-screen .food-text.food-text-1 {
      display: block; }
  .start-screen .sun {
    position: absolute;
    width: 1220px;
    height: 1220px;
    z-index: -1;
    background: url(../img/sun.svg) no-repeat center 10px;
    top: 50%;
    left: 50%;
    margin-left: -610px;
    margin-top: -180px;
    transform: rotate(-40deg);
    transition: transform 1s ease; }
    .fp-viewing-1 .start-screen .sun {
      transform: rotate(-35deg); }
    .fp-viewing-2 .start-screen .sun {
      transform: rotate(-20deg); }
    .fp-viewing-3 .start-screen .sun {
      transform: rotate(0deg); }
    .fp-viewing-4 .start-screen .sun {
      transform: rotate(50deg); }
    .fp-viewing-5 .start-screen .sun {
      transform: rotate(50deg); }
  .start-screen .cloud {
    position: absolute;
    width: 1220px;
    height: 1220px;
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-left: -610px;
    margin-top: -500px; }
    .start-screen .cloud.cloud-1 {
      background: url(../img/cloud-1.svg) center 75px no-repeat;
      transform: rotate(-30deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-1 {
        transform: rotate(-29deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-1 {
        transform: rotate(-26deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-1 {
        transform: rotate(-23deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-1 {
        transform: rotate(-20deg); }
    .start-screen .cloud.cloud-2 {
      background: url(../img/cloud-2.svg) center 40px no-repeat;
      transform: rotate(-45deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-2 {
        transform: rotate(-44deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-2 {
        transform: rotate(-40deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-2 {
        transform: rotate(-36deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-2 {
        transform: rotate(-30deg); }
    .start-screen .cloud.cloud-3 {
      background: url(../img/cloud-3.svg) center 100px no-repeat;
      transform: rotate(-10deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-3 {
        transform: rotate(-9deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-3 {
        transform: rotate(0deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-3 {
        transform: rotate(15deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-3 {
        transform: rotate(20deg); }
    .start-screen .cloud.cloud-4 {
      background: url(../img/cloud-4.svg) center 134px no-repeat;
      transform: rotate(-20deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-4 {
        transform: rotate(-19deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-4 {
        transform: rotate(-10deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-4 {
        transform: rotate(5deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-4 {
        transform: rotate(25deg); }
    .start-screen .cloud.cloud-5 {
      background: url(../img/cloud-5.svg) center 50px no-repeat;
      transform: rotate(40deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-5 {
        transform: rotate(41deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-5 {
        transform: rotate(50deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-5 {
        transform: rotate(62deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-5 {
        transform: rotate(70deg); }
    .start-screen .cloud.cloud-6 {
      background: url(../img/cloud-6.svg) center 104px no-repeat;
      transform: rotate(10deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-6 {
        transform: rotate(11deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-6 {
        transform: rotate(20deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-6 {
        transform: rotate(35deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-6 {
        transform: rotate(47deg); }
    .start-screen .cloud.cloud-7 {
      background: url(../img/cloud-7.svg) center 140px no-repeat;
      transform: rotate(20deg);
      transition: transform 1s ease; }
      .fp-viewing-1 .start-screen .cloud.cloud-7 {
        transform: rotate(21deg); }
      .fp-viewing-2 .start-screen .cloud.cloud-7 {
        transform: rotate(22deg); }
      .fp-viewing-3 .start-screen .cloud.cloud-7 {
        transform: rotate(24deg); }
      .fp-viewing-4 .start-screen .cloud.cloud-7 {
        transform: rotate(26deg); }

@keyframes arrow-1 {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }
@keyframes arrow-2 {
  0% {
    transform: translate(10px, -10px) rotate(58deg); }
  100% {
    transform: translate(0) rotate(58deg); } }
@keyframes arrow-4 {
  0% {
    transform: translate(10px, 10px) rotate(138deg); }
  100% {
    transform: translate(0) rotate(138deg); } }
@keyframes arrow-5 {
  0% {
    transform: translate(-10px, 5px) rotate(-117deg); }
  100% {
    transform: translate(0) rotate(-117deg); } }
@keyframes arrow-6 {
  0% {
    transform: translate(-2px, 10px) rotate(9deg); }
  100% {
    transform: translate(0) rotate(9deg); } }
.wish-box h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 21px;
  margin-bottom: 30px; }
.wish-box .link {
  background: #bc4727; }
.wish-box .wish-text {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial; }
.wish-box .wish-content {
  height: 0;
  overflow: hidden;
  transition: all .3s ease; }
.wish-box .col-xs-3:hover .wish-content {
  height: 320px; }
.wish-box .wish-block {
  height: 570px; }

.ration-block h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 21px; }
.ration-block .for {
  font-style: italic;
  font-size: 16px; }
.ration-block .gender {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px; }

.team-box h2 {
  margin-bottom: 80px; }
.team-box h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 21px; }
  .team-box h3:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: #fff;
    margin: 20px 0; }
.team-box .team-role {
  font-size: 18px;
  font-style: italic; }
.team-box .description {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  padding-right: 40px; }

.bag-box .bag-img {
  margin: 60px 0; }
.bag-box p {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  position: relative;
  margin-bottom: 25px;
  margin: 0 80px 25px; }
  .bag-box p:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    left: -20px; }

.delivery-box {
  text-align: center; }
  .delivery-box .delivery-icon {
    height: 110px;
    margin: 30px 0 50px; }
    .delivery-box .delivery-icon.delivery-icon-1 {
      background: url(../img/delivery-1.svg) center no-repeat; }
    .delivery-box .delivery-icon.delivery-icon-2 {
      background: url(../img/delivery-2.svg) center no-repeat; }
    .delivery-box .delivery-icon.delivery-icon-3 {
      background: url(../img/delivery-3.svg) center no-repeat; }
    .delivery-box .delivery-icon.delivery-icon-4 {
      background: url(../img/delivery-4.svg) center no-repeat; }
  .delivery-box h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 18px; }
  .delivery-box p {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px; }
  .delivery-box .link {
    margin-top: 60px;
    background: #33796c; }

.testimonials-box h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 24px; }
.testimonials-box h2 {
  margin-bottom: 90px; }
.testimonials-box .profession, .testimonials-box .age {
  font-size: 18px;
  margin: 0; }
.testimonials-box .link {
  background: #d08926; }
.testimonials-box .slider-wrapper {
  width: 100vw; }
.testimonials-box .testimonials-content {
  font-family: 'Helvetica Neue', Helvetica, Arial; }
.testimonials-box .owl-prev {
  display: block;
  width: 35px;
  height: 35px;
  background: url(../img/arrow-prev.png) center no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: -90px;
  left: -60px; }
.testimonials-box .owl-next {
  display: block;
  width: 35px;
  height: 35px;
  background: url(../img/arrow-next.png) center no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: -90px;
  right: -60px; }
.testimonials-box img {
  max-width: 100%; }
.testimonials-box .container {
  width: 970px; }
.testimonials-box .owl-buttons {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.about-box {
  text-align: center; }
  .about-box h2 {
    margin-bottom: 50px; }
  .about-box .row:last-child {
    margin-top: 30px; }
  .about-box .about-text {
    font-size: 18px;
    font-style: italic; }
  .about-box .about-icon-1 {
    background: url(../img/about-1.svg) center no-repeat; }
  .about-box .about-icon-2 {
    background: url(../img/about-2.svg) center no-repeat; }
  .about-box .about-icon-3 {
    background: url(../img/about-3.svg) center no-repeat; }
  .about-box .about-icon-4 {
    background: url(../img/about-4.svg) center no-repeat; }
  .about-box .about-icon-5 {
    background: url(../img/about-5.svg) center no-repeat; }
  .about-box .about-icon-6 {
    background: url(../img/about-6.svg) center no-repeat; }
  .about-box .about-icon-7 {
    background: url(../img/about-7.svg) center no-repeat; }
  .about-box .about-icon-8 {
    background: url(../img/about-8.svg) center no-repeat; }
  .about-box .about-icon {
    height: 100px;
    margin-bottom: 30px;
    background-size: 70%; }

.ask-box {
  background: url(../img/whore.png) left bottom no-repeat; }
  .ask-box .link {
    background: #ba502d; }

form {
  width: 420px;
  margin: 0 auto; }
  form input.form-control, form textarea.form-control {
    background: #fff;
    border: 0 none;
    font-size: 18px;
    font-style: italic;
    box-shadow: none; }
  form input.form-control {
    height: 65px; }
  form textarea.form-control {
    min-height: 140px;
    max-height: 140px;
    max-width: 100%;
    padding-top: 10px; }
  form p {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 21px;
    text-align: center;
    margin-bottom: 40px; }

.modal h3 {
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  color: #000;
  width: 420px;
  margin: 20px auto 20px;
  text-align: center; }
.modal form input.form-control, .modal form textarea.form-control {
  background: #e5e5e5; }
.modal .modal-dialog {
  width: 540px; }
.modal .modal-content {
  box-shadow: none; }
.modal .modal-icon {
  padding-top: 20px; }

.modal-diet .link {
  background: #d35639; }

.modal-backdrop.in {
  opacity: .6; }

#myModal_2 .link {
  background: #207b34; }

/*# sourceMappingURL=main.css.map */
