$easeTime: .7s;
$animationTime: .35s;
$cloudEaseTime: 1s;



@font-face {
    font-family: 'Cooper';
    src: url('../fonts/CooperLightCBT_2.eot');
    src: url('../fonts/CooperLightCBT_2.eot') format('embedded-opentype'),
         url('../fonts/CooperLightCBT_2.woff2') format('woff2'),
         url('../fonts/CooperLightCBT_2.woff') format('woff'),
         url('../fonts/CooperLightCBT_2.ttf') format('truetype'),
         url('../fonts/CooperLightCBT_2.svg#CooperLightCBT_2') format('svg');
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: 'Cooper';
    src: url('../fonts/CooperLightCBTItalic_2.eot');
    src: url('../fonts/CooperLightCBTItalic_2.eot') format('embedded-opentype'),
         url('../fonts/CooperLightCBTItalic_2.woff2') format('woff2'),
         url('../fonts/CooperLightCBTItalic_2.woff') format('woff'),
         url('../fonts/CooperLightCBTItalic_2.ttf') format('truetype'),
         url('../fonts/CooperLightCBTItalic_2.svg#CooperLightCBTItalic_2') format('svg');
         font-style: italic;
         font-weight: normal;
}
@font-face {
    font-family: 'Cooper';
    src: url('../fonts/CooperLightCBTBold_2.eot');
    src: url('../fonts/CooperLightCBTBold_2.eot') format('embedded-opentype'),
         url('../fonts/CooperLightCBTBold_2.woff2') format('woff2'),
         url('../fonts/CooperLightCBTBold_2.woff') format('woff'),
         url('../fonts/CooperLightCBTBold_2.ttf') format('truetype'),
         url('../fonts/CooperLightCBTBold_2.svg#CooperLightCBTBold_2') format('svg');
         font-weight: bold;
         font-style: normal;
}
@font-face {
    font-family: 'Cooper';
    src: url('../fonts/CooperLightCBTBoldItalic_2.eot');
    src: url('../fonts/CooperLightCBTBoldItalic_2.eot') format('embedded-opentype'),
         url('../fonts/CooperLightCBTBoldItalic_2.woff2') format('woff2'),
         url('../fonts/CooperLightCBTBoldItalic_2.woff') format('woff'),
         url('../fonts/CooperLightCBTBoldItalic_2.ttf') format('truetype'),
         url('../fonts/CooperLightCBTBoldItalic_2.svg#CooperLightCBTBoldItalic_2') format('svg');
         font-weight: bold;
         font-style: italic;
}



// BASE
// ---------------------------- //
a:hover {
	color: inherit;
	text-decoration: none;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	color: #fff;
	font-family: 'Cooper';
}
.container {
	width: 1220px;
	margin: 0 auto;
}
.table-box {
	display: table;
	width: 100%;
	height: 100%;
}
.cell-box {
	display: table-cell;
	vertical-align: middle;
}
h2 {
	font-weight: bold;
	font-style: italic;
	font-size: 38px;
	margin-bottom: 30px;
	text-align: center;
}


// phone
.phone {
	position: fixed;
	top: 30px;
	right: 30px;
	font-size: 21px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	z-index: 10;
}

// link
.link {
	display: inline-block;
	color: #fff;
	font-size: 21px;
	background: #2d7942;
	padding: 16px 40px;
	border-radius: 50px;
	margin: 40px;
	font-style: italic;
	font-weight: bold;
	border: 0;
}




// BODY
// ---------------------------- //
body {
	background: #2f8f48;
	transition: background $easeTime ease;
}
body.fp-viewing-1 {
	// background: #d4643c;
}
body.fp-viewing-5 {
	background: #d4643c;
}
body.fp-viewing-6 {
	background: #9c5db7;
}
body.fp-viewing-7 {
	background: #d15e3c;
}
body.fp-viewing-8 {
	background: #6f5d92;
}
body.fp-viewing-9 {
	background: #44887c;
}
body.fp-viewing-10 {
	background: #d59841;
}
body.fp-viewing-11 {
	background: #5b6690;
}
body.fp-viewing-12 {
	background: #d4643c;
}








// START SCREEN
// ---------------------------- //
.start-screen {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform $easeTime ease;
	z-index: 2;
	overflow: hidden;

	transform: translateY(-100vh);

	.fp-viewing-0 &, .fp-viewing-1 &, .fp-viewing-2 &, .fp-viewing-3 &, .fp-viewing-4 & {
		transform: translateY(0);
	}

	.fp-viewing-0 & {
		transition: none;
	}

	.intro-text {
		height: 130px;
		position: relative;
	}
		

	// food
	.food {
		position: relative;
		display: inline-block;
	}

	// arrow
	.food-arrow {
		display: block;
		width: 40px;
		height: 40px;
		background: url(../img/food-arrow.svg) center no-repeat;
		position: absolute;

		transition: opacity $easeTime ease;

		opacity: 0;

		&.food-arrow-1 {
			top: 105px;
			left: 20px;

			animation: arrow-1 $animationTime ease 0s infinite alternate;

			.fp-viewing-1 & {
				opacity: 1;
			}
		}
		&.food-arrow-2 {
			top: 50px;
			left: 190px;
			transform: rotate(58deg);

			animation: arrow-2 $animationTime ease 0s infinite alternate;

			.fp-viewing-2 & {
				opacity: 1;
			}
		}
		&.food-arrow-3 {
			top: 45px;
			left: 290px;

			animation: arrow-1 $animationTime ease 0s infinite alternate;

			.fp-viewing-3 & {
				opacity: 1;
			}
		}
		&.food-arrow-4 {
			top: 300px;
			right: 100px;
			 transform: rotate(138deg);

			 animation: arrow-4 $animationTime ease 0s infinite alternate;

			.fp-viewing-3 & {
				opacity: 1;
			}
		}
		&.food-arrow-5 {
			top: 290px;
			left: 60px;
			transform: rotate(-117deg);

			animation: arrow-5 $animationTime ease 0s infinite alternate;

			.fp-viewing-4 & {
				opacity: 1;
			}
		}
		&.food-arrow-6 {
			top: 100px;
			left: 190px;
			transform: rotate(9deg);

			animation: arrow-6 $animationTime ease 0s infinite alternate;

			.fp-viewing-4 & {
				opacity: 1;
			}
		}
	}
	

	// food-text
	.food-text {
		display: none;
		position:  absolute;
		height: 100%;
		width: 100%;
		top: 50%;
		margin-top: -50px;

		&.food-text-1 {
			h1 {
				font-style: italic;
				font-weight: bold;
				letter-spacing: 2px;
				font-size: 38px;
			}
			p {
				font-size: 20px;
				font-style: italic;
			}
		}

		.time {
			font-size: 28px;
			margin-top: 15px;
			font-style: italic;
			letter-spacing: 1px;
		}
		.description {
			font-size: 28px;
			color: #ffcc01;
			font-style: italic;
			font-weight: bold;
			letter-spacing: 2px;
		}
		.about {
			font-size: 18px;
			font-style: italic;
			letter-spacing: 1px;
		}

		&.food-text-1 {
			display: block;
		}
	}


	// sun
	.sun {
		$sunWidth: 1220px;


		position: absolute;
		width: $sunWidth;
		height: $sunWidth;
		z-index: -1;
		background: url(../img/sun.svg) no-repeat center 10px;
		top: 50%;
		left: 50%;
		margin-left: -($sunWidth/2);
		margin-top: -180px;

		transform: rotate(-40deg);

		transition: transform $cloudEaseTime ease;

		.fp-viewing-1 & {
			transform: rotate(-35deg);
		}
		.fp-viewing-2 & {
			transform: rotate(-20deg);
		}
		.fp-viewing-3 & {
			transform: rotate(0deg);
		}
		.fp-viewing-4 & {
			transform: rotate(50deg);
		}
		.fp-viewing-5 & {
			transform: rotate(50deg);
		}
	}

	// clouds
	.cloud {
		$sunWidth: 1220px;


		position: absolute;
		width: $sunWidth;
		height: $sunWidth;
		z-index: -1;
		top: 50%;
		left: 50%;
		margin-left: -($sunWidth/2);
		margin-top: -500px;




		&.cloud-1 {
			background: url(../img/cloud-1.svg) center 75px no-repeat;
			transform: rotate(-30deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(-29deg);
			}
			.fp-viewing-2 & {
				transform: rotate(-26deg);
			}
			.fp-viewing-3 & {
				transform: rotate(-23deg);
			}
			.fp-viewing-4 & {
				transform: rotate(-20deg);
			}
		}
		&.cloud-2 {
			background: url(../img/cloud-2.svg) center 40px no-repeat;
			transform: rotate(-45deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(-44deg);
			}
			.fp-viewing-2 & {
				transform: rotate(-40deg);
			}
			.fp-viewing-3 & {
				transform: rotate(-36deg);
			}
			.fp-viewing-4 & {
				transform: rotate(-30deg);
			}
		}
		&.cloud-3 {
			background: url(../img/cloud-3.svg) center 100px no-repeat;
			transform: rotate(-10deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(-9deg);
			}
			.fp-viewing-2 & {
				transform: rotate(0deg);
			}
			.fp-viewing-3 & {
				transform: rotate(15deg);
			}
			.fp-viewing-4 & {
				transform: rotate(20deg);
			}
		}
		&.cloud-4 {
			background: url(../img/cloud-4.svg) center 55px no-repeat;
			transform: rotate(-20deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(-19deg);
			}
			.fp-viewing-2 & {
				transform: rotate(-10deg);
			}
			.fp-viewing-3 & {
				transform: rotate(5deg);
			}
			.fp-viewing-4 & {
				transform: rotate(25deg);
			}
		}
		&.cloud-5 {
			background: url(../img/cloud-5.svg) center 50px no-repeat;
			transform: rotate(40deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(41deg);
			}
			.fp-viewing-2 & {
				transform: rotate(50deg);
			}
			.fp-viewing-3 & {
				transform: rotate(62deg);
			}
			.fp-viewing-4 & {
				transform: rotate(70deg);
			}
		}
		&.cloud-6 {
			background: url(../img/cloud-6.svg) center 70px no-repeat;
			transform: rotate(10deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(11deg);
			}
			.fp-viewing-2 & {
				transform: rotate(20deg);
			}
			.fp-viewing-3 & {
				transform: rotate(35deg);
			}
			.fp-viewing-4 & {
				transform: rotate(47deg);
			}
		}
		&.cloud-7 {
			background: url(../img/cloud-7.svg) center 140px no-repeat;
			transform: rotate(20deg);


			transition: transform $cloudEaseTime ease;

			.fp-viewing-1 & {
				transform: rotate(21deg);
			}
			.fp-viewing-2 & {
				transform: rotate(22deg);
			}
			.fp-viewing-3 & {
				transform: rotate(24deg);
			}
			.fp-viewing-4 & {
				transform: rotate(26deg);
			}
		}
	}
}









@keyframes arrow-1 {
    0% {
		transform: translateY(10px);
    }
    100% {
		transform: translateY(0);
    }
}
@keyframes arrow-2 {
    0% {
		transform: translate(10px, -10px) rotate(58deg);
    }
    100% {
		transform: translate(0) rotate(58deg);
    }
}
@keyframes arrow-4 {
    0% {
		transform: translate(10px, 10px) rotate(138deg);
    }
    100% {
		transform: translate(0) rotate(138deg);
    }
}
@keyframes arrow-5 {
    0% {
		transform: translate(-10px, 5px) rotate(-117deg);
    }
    100% {
		transform: translate(0) rotate(-117deg);
    }
}
@keyframes arrow-6 {
    0% {
		transform: translate(-2px, 10px) rotate(9deg);
    }
    100% {
		transform: translate(0) rotate(9deg);
    }
}







.wish-box {
	h3 {
		font-weight: bold;
		font-style: italic;
		font-size: 21px;
		margin-bottom: 30px;
	}
	.link {
		background: #bc4727;
	}
	.wish-text {
		font-size: 16px;
		font-family: 'Helvetica Neue', Helvetica, Arial;
	}
	.wish-content {
		height: 0;
		overflow: hidden;
		transition: all .3s ease;
	}
	.col-xs-3:hover {
		.wish-content {
			height: 320px;
		}		
	}
	.wish-block	{
		height: 570px;
	}
}



.ration-block {
	h3 {
		font-weight: bold;
		font-style: italic;
		font-size: 21px;
	}
	.for {
		font-style: italic;
		font-size: 16px;
	}
	.gender {
		font-family: 'Helvetica Neue', Helvetica, Arial;
		font-size: 14px;
	}
}


.team-box {
	h2 {
		margin-bottom: 80px;
	}
	h3 {
		font-weight: bold;
		font-style: italic;
		font-size: 21px;

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 1px;
			background: #fff;
			margin: 20px 0;
		}
	}
	.team-role {
		font-size: 18px;
		font-style: italic;
	}
	.description {
		font-size: 14px;
		font-family: 'Helvetica Neue', Helvetica, Arial;
		padding-right: 40px;
	}
}


.bag-box {
	.bag-img {
		margin: 60px 0;
	}

	p {
		font-family: 'Helvetica Neue', Helvetica, Arial;
		font-size: 14px;
		position: relative;
		margin-bottom: 25px;
		margin: 0 80px 25px;

		&:after {
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			background: #fff;
			border-radius: 100%;
			position: absolute;
			top: 8px;
			left: -20px;
		}
	}
}


.delivery-box {
	text-align: center;

	.delivery-icon {
		height: 110px;
		margin: 30px 0 50px;

		&.delivery-icon-1 {
			background: url(../img/delivery-1.svg) center no-repeat;
		}
		&.delivery-icon-2 {
			background: url(../img/delivery-2.svg) center no-repeat;
		}
		&.delivery-icon-3 {
			background: url(../img/delivery-3.svg) center no-repeat;
		}
		&.delivery-icon-4 {
			background: url(../img/delivery-4.svg) center no-repeat;
		}
	}
	h3 {
		font-weight: bold;
		font-style: italic;
		font-size: 18px;
	}
	p {
		font-family: 'Helvetica Neue', Helvetica, Arial;
		font-size: 14px;
	}
	.link {
		margin-top: 60px;
		background: #33796c;
	}
}




.testimonials-box {
	h3 {
		font-weight: bold;
		font-style: italic;
		font-size: 24px;
	}
	h2 {
		margin-bottom: 90px;
	}
	.profession, .age {
		font-size: 18px;
		margin: 0;
	}
	.link {
		background: #d08926;
	}
	.slider-wrapper {
		width: 100vw;
	}
	.testimonials-content {
		font-family: 'Helvetica Neue', Helvetica, Arial;
	}
	.owl-prev {
		display: block;
		width: 35px;
		height: 35px;
		background: url(../img/arrow-prev.png) center no-repeat;
		text-indent: -9999px; 
		position: absolute;
		top: -90px;
		left: -60px;

	}
	.owl-next {
		display: block;
		width: 35px;
		height: 35px;
		background: url(../img/arrow-next.png) center no-repeat;
		text-indent: -9999px; 
		position: absolute;
		top: -90px;
		right: -60px;
	}
	img {
		max-width: 100%;
	}
	.container {
		width: 970px;
	}
	.owl-buttons {
		width: 960px;
		margin: 0 auto;
		position: relative;
	}
}




.about-box {
	text-align: center;
	

	h2 {
		margin-bottom: 50px;
	}
	.row:last-child {
		margin-top: 30px;
	}

	.about-text {
		font-size: 18px;
		font-style: italic;
	}


	.about-icon-1 {
		background: url(../img/about-1.svg) center no-repeat;
	}
	.about-icon-2 {
		background: url(../img/about-2.svg) center no-repeat;
	}
	.about-icon-3 {
		background: url(../img/about-3.svg) center no-repeat;
	}
	.about-icon-4 {
		background: url(../img/about-4.svg) center no-repeat;
	}
	.about-icon-5 {
		background: url(../img/about-5.svg) center no-repeat;
	}
	.about-icon-6 {
		background: url(../img/about-6.svg) center no-repeat;
	}
	.about-icon-7 {
		background: url(../img/about-7.svg) center no-repeat;
	}
	.about-icon-8 {
		background: url(../img/about-8.svg) center no-repeat;
	}
	.about-icon {
		height: 100px;
		margin-bottom: 30px;
		background-size: 70%;
	}
}








.ask-box {
	background: url(../img/whore.png) left bottom no-repeat;

	.link {
		background: #ba502d;
	}
}





form {
	width: 420px;
	margin: 0 auto;

	input.form-control, textarea.form-control {
		background: #fff;
		border: 0 none;
		font-size: 18px;
		font-style: italic;
	}
	input.form-control {
		height: 65px;

	}
	textarea.form-control {
		min-height: 140px;
		max-height: 140px;
		max-width: 100%;
		padding-top: 10px;
	}
	p {
		font-family: 'Helvetica Neue', Helvetica, Arial;
		font-size: 21px;
		text-align: center;
		margin-bottom: 40px;
	}
}



